@use '_const' as *;

.main-mv {
  position: relative;
}
.main-mv-txt {
  font-size: 60px;
  line-height: 96px;
  font-weight: 500;
  color: #fff;
  position: absolute;
  left: 100px;
  bottom: 110px;
  letter-spacing: 4px;
  text-shadow: 0 0 10px rgba(0,0,0,.3);
}
.txt-sec {
  padding: 180px 0 185px;
  text-align: center;
  background: url(/assets/images/top/bg-txt-sec.svg) no-repeat center -81px / auto;
}
.txt-sec-ttl {
  font-size: 26px;
  line-height: 46px;
  font-weight: 500;
  letter-spacing: 4px;
}
.txt-sec-inr {
  margin-top: 70px;
  > * + * {
    margin-top: 35px;
  }
}
.img-sec img {
  display: block;
  width: 100%;
}
.product-sec {
  padding: 200px 0;
}
.product-sec .button {
  margin-top: 80px;
}
.pickup-sec {
  padding-bottom: 70px;
  background: url(/assets/images/top/bg-pickup.svg) repeat-x 0 bottom / auto;
}
.pickup-slide {
  height: 715px;
  max-width: 840px;
  margin: auto !important;
}
.pickup-item {
  padding: 0 20px;
  position: relative;
  top: 465px;
  &.slick-current {
    top: auto;
    .pickup-ttl {
      display: block;
    }
    .pickup-img {
      max-width: 800px;
    }
  }
}
.pickup-slide .slick-list {
  overflow: visible;
}
.pickup-slide .slick-track {
  -webkit-transition: transform .5s ease;
  transition: transform .5s ease;
}
.pickup-slide .slick-arrow {
  width: 30px;
  height: 30px;
  background: url(/assets/images/ico-arrow-02.svg) no-repeat 0 0 / 100%;
  z-index: 1;
  top: calc(50% - 66px);
  @include hover;
  &:before {
    display: none;
  }
}
.pickup-slide .slick-next {
  right: -50px;
}
.pickup-slide .slick-prev {
  left: -50px;
  transform: rotate(180deg);
}
.pickup-slide .slick-dots {
  bottom: -5px;
}
.pickup-slide .slick-dots li {
  width: auto;
  height: auto;
  padding: 5px;
  margin: 0;
  &.slick-active,
  &:hover {
    button {
      background: #407995;
    }
  }
}
.pickup-slide .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(64,121,149, .3);
  display: block;
  &:before {
    display: none;
  }
}
.pickup-img {
  max-width: 160px;
}
.pickup-ttl {
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
  display: none;
}

.static-sec{
  padding-top: 200px;
  background: url(/assets/images/top/bg-txt-sec.svg) no-repeat center 493px / auto;
}

.static-sec-img{
  width: 100%;
  text-align: right;
  margin-right: -8px;
}

.static-sec-title{
  font-size: 26px;
  line-height: calc(46/26);
  font-weight: 500;
  letter-spacing: 2px;
  margin: 100px 0 
}

.static-sec-text {
  > * + * {
    margin-top: 35px;
  }
}

.static-sec-list{
  padding: 100px 0 200px
}

.rows{  
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap
}

.col{
  padding: 0 20px;
  width: 50%;
}

.columns-3 .col{
  width: 33.33%
}

.static-sec-link{
  @include hover
}
